{% extends "case/base.html" %}
{% load static %}
{% block content %}

        <!-- # site main content
        ================================================== -->
    <section id="content" class="s-content">
        <section class="s-pageheader pageheader">
                 <div class="row">
                     <div class="column xl-12">
                        <h2 class="page-title">High-impact services to help your business</h2>
                     </div>
                 </div>
        </section>

        <section class="s-pagecontent pagecontent">
                <div class="row">
                <div class="column xl-12 grid-block">             
                    <div class="grid-full grid-list-items list-items show-ctr">


                        {% for service in services %}
                        <div class="grid-list-items__item list-items__item"> 
                            <div class="list-items__item-header">
                                <h3 class="list-items__item-title">{{ service.title }}</h3>
                            </div>
                            <div class="list-items__item-text">
                                <p>{{ service.body|safe }}</p>
                                
                                {% comment %} <p>Key Deliverables</p>
                                <ul class="list-services">
                                    {% for feature in service.features.all %}
                                        <li>{{ feature.text }}</li>
                                    {% endfor %}
                                </ul> {% endcomment %}
                            </div>
                        </div>
                        {% endfor %}
                        
                        {% comment %} <div class="grid-list-items__item list-items__item">
                            <div class="list-items__item-header">
                                <h3 class="list-items__item-title">Content Marketing</h3>
                            </div>
                            <div class="list-items__item-text">
                                <p>
                                Rerum quam quos. Quibusdam quis autem voluptatibus earum vel ex error ea magni. Aut asperiores 
                                sit mollitia. Rem neque et voluptatem eos quia sed eligendi et. Eaque velit eligendi ut 
                                magnam.
                                </p>

                                <ul class="list-services">
                                    <li>Eaque velit</li>
                                    <li>Asperiores</li>
                                    <li>Cumque Ducimus</li>
                                </ul>
                            </div>
                        </div> {% endcomment %}
                    </div> <!-- end grid-block-->
                </div> <!-- end row -->

            </section> <!-- pagecontent -->

            <section class="s-testimonials">

                 <div class="s-testimonials__header row row-x-center text-center">
                     <div class="column xl-8 lg-12">
     
                         <p class="text-pretitle">
                         Testimonials
                         </p>
                         <h3>
                         Reviews From Real Clients
                         </h3>                        
     
                     </div>
                 </div> <!--end s-testimonials__header -->

                 <div class="row s-testimonials__content">
                     <div class="column xl-12 testimonials">

                         <div class="swiper-container testimonials__slider page-slider">
                             <div class="swiper-wrapper">
                                {% for client in testimonials %}
                                 <div class="testimonials__slide swiper-slide">
                                     <p>
                                        {{client.body}}
                                     </p>
                                     <div class="testimonials__author">
                                         <img src="{{client.image.URL}}" alt="Author image" class="testimonials__avatar">
                                         <cite class="testimonials__cite">
                                             <strong>{{client.client_name}}</strong>
                                             <span>{{client.company_name}}</span>
                                         </cite>
                                     </div>
                                     {% endfor %}
                                 </div> 
                             </div> <!-- end swiper-wrapper --> 
                             <div class="swiper-pagination"></div>
                         </div> <!--end testimonials__slider --> 
                     </div> <!-- testimonials -->
                 </div> <!--end s-testimonials__content -->
            </section> <!-- end s-testimonials -->
        </section> <!-- s-content-->

     <!-- # cta
     ================================================== -->
    {% comment %} <section id="cta" class="s-cta">

    <div class="row row-x-center text-center">
        <div class="column xl-8 lg-12">

            <div class="s-cta__content">
                <h2 class="text-display-title">
                Get started with a consultation today.
                </h2>
                <p class="lead">
                    From research design and data exploration to machine learning models and full-scale web/API deployment — I offer end-to-end solutions tailored to real-world needs.
                </p>
                <a href="contact.html" class="btn btn--primary">Let's Work Together</a>
            </div>

        </div>
    </div>

     </section> <!-- end s-cta --> {% endcomment %}

{% endblock content %}